# ── Frontend Environment ──

# # ==============================
# # PRODUCTION
# # ==============================

# Domain Backend Url
BACKEND_API_URL="http://127.0.0.1:4000/api"

# Domain Redis Url
REDIS_URL="redis://127.0.0.1:6379"

# Vite Environment Variables
VITE_API_URL="http://127.0.0.1:4000/api"
VITE_SOCKET_URL="http://127.0.0.1:4000"



# # ==============================
# # DEVELOPMENT
# # ==============================

# # Vite Environment Variables
# VITE_API_URL="http://localhost:4000/api"
# VITE_SOCKET_URL="http://localhost:4000"


# # Local Backend Url
# BACKEND_API_URL="http://localhost:4000/api"

# # Local Redis Url
# REDIS_URL="redis://localhost:6379"


# # Docker Backend Url
# # BACKEND_API_URL="http://backend:4000/api"

# # Docker Redis Url
# # REDIS_URL="redis://redis:6379"