# ── Frontend Environment ──

# # ==============================
# # PRODUCTION
# # ==============================

# Vite Environment Variables
VITE_API_URL="/api"
VITE_SOCKET_URL=""

# Domain Backend Url
BACKEND_API_URL="http://127.0.0.1:4000/api"

# Domain Redis Url
REDIS_STORAGE_URL="redis://127.0.0.1:6379"

# # ==============================
# # DEVELOPMENT
# # ==============================

# # Vite Environment Variables
# VITE_API_URL="http://localhost:4000/api"
# VITE_SOCKET_URL="http://localhost:4000"

# # Domain Backend Url
# BACKEND_API_URL="http://localhost:4000/api"

# # Domain Redis Url
# REDIS_STORAGE_URL="redis://localhost:6379"