# ── Backend Environment ──

# # ==============================
# # GENERAL INFORMATION
# # ==============================

# Workplace
NODE_ENV="development" # or "production"

# Server port
PORT=4000

# Connection Secret Keys 
AUTH_JWT_SECRET="<YOUR_AUTH_JWT_SECRET>"
INTERNAL_SECRET="<YOUR_INTERNAL_SECRET>"

# # ==============================
# # PRODUCTION
# # ==============================

# Discord Application Connection
DISCORD_APPLICATION_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_BOT_INVITE_URL="https://discord.com/oauth2/authorize?client_id=[BOT_ID]"
DISCORD_REDIRECT_URL="https://[IP_ADDRESS]/api/auth/discord/callback"

# Postgres Schema Url
DATABASE_POOLER_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?pgbouncer=true&schema=[SCHEMA_NAME]"
DATABASE_DIRECT_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?schema=[SCHEMA_NAME]"

# Domain Urls
FRONTEND_HOME_URL="https://[DOMAIN]"
DIRECTIVE_API_URL="http://[IP_ADDRESS]:4001"
REDIS_STORAGE_URL="redis://[IP_ADDRESS]:6379"

# # ==============================
# # DEVELOPMENT
# # ==============================

# # Discord Application Connection
# DISCORD_APPLICATION_ID=""
# DISCORD_CLIENT_SECRET=""
# DISCORD_BOT_INVITE_URL="https://discord.com/oauth2/authorize?client_id=[BOT_ID]"
# DISCORD_REDIRECT_URL="http://localhost:4000/api/auth/discord/callback"

# # Postgres Schema Url
# DATABASE_POOLER_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?pgbouncer=true&schema=[SCHEMA_NAME]"
# DATABASE_DIRECT_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?schema=[SCHEMA_NAME]"

# # Domain Urls
# FRONTEND_HOME_URL="http://localhost:3000"
# DIRECTIVE_API_URL="http://localhost:4001"
# REDIS_STORAGE_URL="redis://localhost:6379"