# ── Backend Environment ──

# Server port
PORT=4000

# Connection Secret Keys 
DISCORD_CLIENT_SECRET=""
AUTH_JWT_SECRET=""



# # ==============================
# # PRODUCTION
# # ==============================

# Discord Application ID
APPLICATION_ID=""

# Postgres Schema Url
POOLER_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?pgbouncer=true&schema=[SCHEMA_NAME]"
DIRECT_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?schema=[SCHEMA_NAME]"

# Domain Urls
DISCORD_REDIRECT_URI="https://your-backend-domain/api/auth/discord/callback"
FRONTEND_ORIGIN="https://your-frontend-domain"
REDIS_URL="redis://your-redis-domain"

# Docker Urls
# DISCORD_REDIRECT_URI=""
# FRONTEND_ORIGIN=""
# REDIS_URL=""



# # ==============================
# # DEVELOPMENT
# # ==============================

# # Discord Application ID
# APPLICATION_ID="1494650326903558207"

# # Postgres Schema Url
# POOLER_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?pgbouncer=true&schema=[SCHEMA_NAME]"
# DIRECT_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DATABASE]?schema=[SCHEMA_NAME]"

# # Local Urls
# DISCORD_REDIRECT_URI="http://localhost:4000/api/auth/discord/callback" # Local
# FRONTEND_ORIGIN="http://localhost:3000" # Local
# REDIS_URL="redis://localhost:6379" # Local

# # Docker Urls
# # DISCORD_REDIRECT_URI="http://backend:4000/api/auth/discord/callback" # Docker
# # FRONTEND_ORIGIN="http://frontend:3000" # Docker
# # REDIS_URL="redis://redis:6379" # Docker