DISCORD_TOKEN=""
APPLICATION_ID=""

# BACKEND_API_URL="http://localhost:4000/api" # Nếu không docker
BACKEND_API_URL="http://backend:4000/api" # Nếu chạy docker

# REDIS_URL="redis://localhost:6379" # Nếu không docker
REDIS_URL="redis://redis:6379" # Nếu chạy docker